.background {
  background-color: #2a0944;
}

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .main {
    padding: 10px;
  }
}

.form {
  display: flex;
  flex-direction: column;
}

.formTitle {
  margin-bottom: 35px;
  color: #fff;
  font-size: 48px;
  text-align: center;
}

.formLabel {
  margin-bottom: 10px;
  color: #fff;
  font-size: 18px;
}

.formInput {
  height: 50px;
  margin-bottom: 15px;
  padding: 10px;
  border: solid 3px #ffc107;
  border-radius: 5px;
  font-size: 18px;
}

.formBtnGroup {
  display: flex;
  margin-top: 25px;
  align-items: center;
  justify-content: flex-end;
}

.mr25 {
  margin-right: 25px;
}

.formTextLink {
  color: #ffc107;
  font-size: 18px;
  text-decoration: none;
}

.formSubmitBtn {
  min-height: 50px;
  padding: 15px;
  color: #fff;
  background-color: #a12568;
  border-radius: 5px;
  border: 0px;
  font-size: 18px;
}
